In [24]:
import pandas as pd
import re
import string
import nltk


pd.set_option('display.max_colwidth', 100)

data = pd.read_csv("../../Data/SMSSpamCollection.txt", sep='\t', header=None)
data.columns = ['label', 'Content']

en_stopwords = nltk.corpus.stopwords.words('english')
ps = nltk.PorterStemmer()

data.head()

,label,Content
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

<h3>Creationg a function witch remove all stopwords and punctuation in order to do the stemming process</h3>

In [25]:
def clean_email(email):
    text = "".join([word for word in email if word not in string.punctuation])
    tokenize = re.split('\W+',text)
    result = " ".join([ps.stem(word) for word in tokenize if word not in en_stopwords])
    return result
data['Content_Stemmed'] = data['Content'].apply(lambda x: clean_email(x))

In [26]:
data.head(5)

,label,Content,Content_Stemmed
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...",go jurong point crazi avail bugi n great world la e buffet cine got amor wat
1,ham,Ok lar... Joking wif u oni...,ok lar joke wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,free entri 2 wkli comp win fa cup final tkt 21st may 2005 text fa 87121 receiv entri questionstd...
3,ham,U dun say so early hor... U c already then say...,u dun say earli hor u c alreadi say
4,ham,"Nah I don't think he goes to usf, he lives around here though",nah i dont think goe usf live around though

<h3>Now; importing the CountVectorizer and with the function created above fiting into the parameter analyzer=clean_email to vectorize the content variable  </h3>

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

ngram_vectorization = CountVectorizer(ngram_range=(2,2))
vect_final = ngram_vectorization.fit_transform(data['Content_Stemmed'])
vect_final.shape

(5572, 34162)

In [29]:
data0 = data[0:5]
data0

,label,Content,Content_Stemmed
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...",go jurong point crazi avail bugi n great world la e buffet cine got amor wat
1,ham,Ok lar... Joking wif u oni...,ok lar joke wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,free entri 2 wkli comp win fa cup final tkt 21st may 2005 text fa 87121 receiv entri questionstd...
3,ham,U dun say so early hor... U c already then say...,u dun say earli hor u c alreadi say
4,ham,"Nah I don't think he goes to usf, he lives around here though",nah i dont think goe usf live around though

In [35]:
ngram_vectorization0 = CountVectorizer(ngram_range=(2,2))
vect_final0 = ngram_vectorization0.fit_transform(data0['Content_Stemmed'])
vect_final0.shape

(5, 50)

In [36]:
de_vect_final0 = pd.DataFrame(vect_final0.toarray())
de_vect_final0.columns = ngram_vectorization0.get_feature_names()
de_vect_final0

,2005 text,21st may,87121 receiv,alreadi say,amor wat,appli 08452810075over18,around though,avail bugi,buffet cine,bugi great,...,say earli,text fa,think goe,tkt 21st,txt ratetc,usf live,wif oni,win fa,wkli comp,world la
0,0,0,0,0,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,1,1,0,0,1,0,0,0,0,...,0,1,0,1,1,0,0,1,1,0
3,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0